:root {
    --background: rgb(220, 238, 232);
    --nav-bar: rgb(198, 221, 213);
}

* {
    background-color: var(--background);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: block;
    font-size: larger;
    background-color: var(--nav-bar);
    text-align: right;
    padding: 10px 10px 10px 0px;
    width: 100%;
    right: 0;
}

nav ul {
    display: inline;
    background-color: var(--nav-bar);
    padding-right: 0px;
}

nav li {
    display: inline;
    background-color: var(--nav-bar);
}

nav a {
    background-color: var(--nav-bar);
    text-decoration: none;
    font-weight: 600;
    color: black; 
}

#contact-form{
    padding-top: 16px;
}

#main-photo{
    border-radius: 250px; 
    padding-top: 10px
}

#intro-para{
    padding-top: 10px;
}

a:hover {
    color: gray;
}

a::after {
    padding: 0px 5px 0px 5px;
    content: "|";
}

.select-price {
    margin-bottom: 3px;
}

.footer {
    padding-top: 50px;
    font-size: smaller;
}

.logo {
    width: 40px;
    height: 40px;
}

