<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/task2.css">
    <script src="../static/task2.js"></script>
</head>
<body>
    <header>
        <img id="pinapple-logo" src="../static/pinapple-logo.png" alt="">
        <nav>
            <ul>
                <li>
                    <a class="nav-element right-nav" href="./home.html">עמוד הבית</a>
                </li>
                <li>
                    <a class="nav-element" href="./gallery.html">החופשות שלנו</a>
                </li>
                <li>
                    <a class="nav-element" href="./contact.html">צור קשר</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="lineUp">החופשות שלנו</h1>
    <hr id="hr">
    <div id="container">
        <img class="img1 img-size" src="../static/img1.jpg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        <img class="img2 img-size" src="../static/img2.jpg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        <img class="img3 img-size" src="../static/img3.jpg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        <img class="img4 img-size" src="../static/img4.jpg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        <img class="img5 img-size" src="../static/img5.jpeg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        <img class="img6 img-size" src="../static/img6.jpg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        <img class="img7 img-size" src="../static/img7.jpg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        <img class="img8 img-size" src="../static/img8.jpg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
        <img class="img9 img-size" src="../static/img9.jpg" alt="" onmouseover="setImgBorderOnHover(this)" onmouseout="setImgBorderOffHover(this)">
    </div>
    <footer class="footer footer2">
        <div id="phone">
            <label>052-3456789</label>
        </div>
        <span>goodlife@gmail.com</span>
        <div id="logos">
            <img class="logo" src="../static/insta-logo.png" />
            <img class="logo" src="../static/twiter-logo.png" />
            <img class="logo" src="../static/facebook-logo.png" />
        </div>
    </footer>
</body>
    <script>
        markCurrentPage();
    </script>
</html>