<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(206, 235, 225); text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <nav style="text-align: left">
        <ul>
            <li>
                <a href="./home.html">עמוד הבית</a>
            </li>
            <li>
                <a href="./contact.html">צור קשר</a>
            </li>
        </ul>
    </nav>
    <h1>ברוכים הבאים לאתר החיים הטובים</h1>
    <hr style="color: black;"/>
    <img src="../static/goodlife.jpg" alt="" style="border-radius: 250px; padding-top: 30px;">
    <p style="padding-top: 30px; font-size: larger;">?צריכים מנוחה מהלימודים <br>
        הגעתם למקום הנכון
    </p>
</body>
</html>